{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2 class="mb-4">SkySync Weather Forecast</h2>
    <form method="post" class="form-inline justify-content-center">
        {{ form.hidden_tag() }}
        <div class="form-group mx-2">
            {{ form.city.label(class="sr-only") }}
            {{ form.city(class="form-control", placeholder="Search city") }}
        </div>
        <div class="form-group mx-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<div id="loading-spinner" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="sr-only">Loading...</span>
</div>

<div id="weather-info" class="text-center">
    <!-- Weather information goes here on document load up -->
</div>

<div id="forecast-info" class="mt-4 text-center">
    <!-- Weather forecast information goes here on document load up -->
</div>

{% if weather_data %}
<div class="mt-4 text-center forecast-item-current">
    <p><strong>{{ weather_data["name"] }}, {{ weather_data["sys"]["country"] }}</strong></p>
    <p>{{ weather_data["dt"] | datetime }}</p>
    <h1 class="be-vietnam-pro-thin">{{ weather_data["main"]["temp"] | int }}°</h1>
    <p>{{ weather_data["weather"][0]["description"] | capitalise_words }}</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>High: {{ weather_data["main"]["temp_max"] | int }}°</p>
        </div>
        <div class="col-auto">
            <p>Low: {{ weather_data["main"]["temp_min"] | int }}°</p>
        </div>
    </div>
    <p class="mt-3">Feels like: {{ weather_data["main"]["feels_like"] | int }}°</p>
    <div class="mt-3">
        <p>Humidity: {{ weather_data["main"]["humidity"] | int }}%</p>
        <p>Wind Speed: {{ weather_data["wind"]["speed"] | int }} m/s</p>
    </div>
</div>
{% endif %}

{% if forecast_data %}
    <p class="text-center">5-Day Forecast</p>
    <div class="scrollable-horizontal">
    {% for item in forecast_data["list"] %}
        <div class="forecast-item">
            <p class="text-center">{{ item["dt_txt"] | datetime }}</p>
            <p class="text-center">{{ item["main"]["temp"] | int }}° - {{ item["weather"][0]["description"] | capitalise_words }}</p>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
