@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #303c55;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    padding-top: 100px;
}

.form-control {
    max-width: 300px;
}

#weather-info {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 40px;
}

#weather-info h1 {
    font-size: 4rem;
}

#weather-info h5, #weather-info h6 {
    margin: 10px 0;
}

#weather-info .row {
    margin: 10px 0;
}

.forecast-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.forecast-item h4, .forecast-item p {
    margin: 0;
}

.forecast-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
}
