@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, #6b85ff, #389fbe);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, p {
    color: #f8f9fa;
    margin: 8px 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-toggler {
    padding: .75rem;
    border: 0;
}

.navbar-brand {
    margin-left: 1rem;
}

.toggler-color {
    background-color: #006eff;
}

.toggler-color::before,
.toggler-color::after {
    background-color: #006eff;
}

/* Additional styling for better appearance */
.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #006eff;
    display: block;
    transition: all 0.3s;
    margin: 6px 0;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #006eff;
    display: block;
    transition: all 0.3s;
}

.navbar-toggler-icon::before {
    transform: translateY(-10px);
}

.navbar-toggler-icon::after {
    transform: translateY(10px);
}

.container {
    flex: 1;
    padding-top: 100px;
    max-width: 1080px;
    text-align: center;
}

.container-about {
    flex: 1;
    text-align: left;
    max-width: 1080px;
    /* padding: 0 10px; */
}

.container a {
    color: #facaca;
}
a:hover, a:focus, a:active {
    color: #cce7ff;
}

.form-control {
    max-width: 300px;
}

.spinner-border {
    color: #fff;
    width: 3rem;
    height: 3rem;
    margin: 20px auto;
    display: none;
}

#temp-div p {
    font-size: 100px;
    margin-top: -30px;
}

.weather-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#weather-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#weather-info h1 {
    font-size: 4rem;
}

#weather-info .row {
    margin: 10px 0;
}

#weather-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: block;
}

.scrollable-horizontal {
    margin-bottom: 40px;
    display: flex;
    overflow-x: auto;
    padding: 0 10px 10px;
    white-space: nowrap;
    justify-content: space-between;
}

.forecast-item-current {
    display: inline-block;
    max-width: 400px;
    /* backdrop-filter: blur(10px); */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.pad-bottom {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.forecast-item-current p,
.forecast-item-current h1 {
    margin: 5px 0;
}

.row {
    display: flex;
    justify-content: center;
}

.forecast-item {
    flex: 0 0 auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.forecast-item p {
    margin: 0;
}

.forecast-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.forecast-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

footer {
    background-color: #fff;
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    color: #006eff;
}

.referal-link a {
    font-size: x-small;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.social-links {
    margin: 0 20px;
    display: inline-block;
}

.social-links a {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    /* filter: invert(1); */
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}
